<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body
    style="margin:auto; width:640px; font-size:large; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div class="image" style="background-color:black; text-align: center;">
        <img src="https://instalika.lt/logo2.png" alt="Company Logo" style="width:350px; height:auto;" alt="">
    </div>
    <div class="main">
        <h1>Patvirtinkite paskyrą</h1>
        <p>Paspaudus "Patvirtinti mano paskyrą" jūs patvirtinsite ir galėsite naudotis paskyra svetainėje <a href="https://instalika.lt">instalika.lt</a></p>
        <p style="padding: 15px;">
            <a href="http://localhost:3000/activation/<%= link %>"
                style="display:inline-block;text-decoration:none;background:rgb(59,131,255);border-radius:3px;color:white;font-size:20px;font-weight:600;padding:12px 20px 11px;margin:0px;text-align: center;">
                Patvirtinti mano paskyrą
            </a>
        </p>
        <p>Jeigu jūs nesiregistravote į instalika.lt svetainę, galite ignoruoti šia žinutę. Kažkas sumaišė paštus</p>
        <p>Šis laiškas buvo sukurtas automatiškai. Prašome į jį neatsakyti. Kilus klausimams, galite kreiptis į žemiau nurodytus kontaktus</p>
    </div>
    <hr>
    <div class="footer"
        style="text-align:left; justify-content:space-between; gap:20px;">
        <div class="text" style="position:relative; left:60px;">
            <p>Geros prekybos!</p>
            <p>- Instalika</p>
        </div>
        <div class="info">
            <p style="margin: 0px;">MB "Instalika"</p>
            <p style="margin: 0px;">PVM mokėtojo kodas LT100012828716</p>
            <p style="margin: 0px;">info@instalika.eu</p>
            <p style="margin: 0px;">+370 655 65525</p>
        </div>
    </div>
</body>

</html>